* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #ecebe8;
  color: #333;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  color: #a67c52;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  color: #a67c52;
}
#active {
    color: #a67c52;
    font-weight: bold;
    text-decoration: underline;
    appearance: none;
    cursor: pointer;
}


/* Hero */
.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW50ZXJpb3IlMjBkZXNpZ258ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.hero-background-image:hover {
  filter: blur(10px);
  transition: filter 0.3s ease;

}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #a67c52;
  color: white;
  text-decoration: none;
}
.btn:hover {
  background: #8c5e3e;
}

/* Sections */
section {
  padding: 70px 60px;
}

/* Services */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.service-card {
  background: white;
  padding: 30px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: white;
  padding: 40px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Footer */
.footer {
  text-align: center;
  padding: 30px;
  background: #222;
  color: white;
}
.footer a {
  color: #a67c52;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
